*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 10vh;
    background-color: cadetblue;
    padding-top: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}
.sp{
    width: 100%;
    height: 1.5vh;
    background-color: yellow;
}
.ta1{
    background-image: url(./ist1.jpg);
    height: 400px;
}
.ta2{
    text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.gjk{
    color: yellow;
}
.ta3{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top{
    margin-top: 10px;
    text-align: center;
}
.tt{
    border: none;
    padding: 10px;
    background-color: rgb(0, 174, 255);
    color: rgb(255, 255, 255);
}
.top input{
    padding: 10px;
    border: none;
}
.ta4{
    text-align: center;
    font-size: 1.5rem;
    word-spacing: 1rem;
}
.ta4 a{
    color: rgb(132, 0, 255);
}
.ta5{
    width: 100%;
    height: 30vh;
    background-color: rgb(255, 196, 0);
}
.ta6{
    width: 60%;
    text-align: center;
    padding-left: 13rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ta7{
    width: 100%;
    height: 50vh;
}
.ta7 i{
    font-size: 4rem;
    margin-left: 28rem;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    padding: 20px;
    color: white;
}
.ss{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ta8{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}